body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}



.container{
   margin: 0;
   align-items: center;
   justify-content: center;
   height: 50vh;
}

.topBar{
    margin: 0px;
    list-style: none;
    display: flex;
}

.box:hover{
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.header{
    
    cursor: pointer;
    grid-column: 1/-1;
    background-image: linear-gradient(#516786, rgb(96, 199, 165));
    
}

@media only screen and (max-width: 600px ){
    .topBar{
        font-size: 0.5em;
        padding: 0;
    }
}

.listOnly{
    padding: 20px;
}

.navText{
    color: white;
}

.ending{
    margin-left: auto;
    padding: 20px;
}

.footer{
    color: rgb(49, 33, 33);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    grid-column: 1/-1;
    background-color: rgba(7, 3, 3, 0.2);
    
}

.grid-wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sticky{
    position: static;
    margin-top: auto;
    width: 100%;
}

.box > img {
    transition: all 1s;
    width: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.box{
   box-shadow: 2px 2px 2px 2px grey;
   background-color: rgb(61, 61, 80); 
   padding: 120px;
   margin: 10px;
}

.coverTop{
    cursor: pointer;
    grid-column: 1/-1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.projectBody{
    background-color: aquamarine;
    cursor: pointer;
    grid-column: 1/-1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}